* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5fafa;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 16px;
}

header li a{
    color: #f5fafa;
    text-decoration: none;
}

header li a:hover{
    text-decoration: underline;
}

.container {
    width: auto ;
    margin: 0 auto ;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    /*height: 180px;*/
    width: 400px;
    height: 500px;
    object-fit: contain;
}

.articles article{
    width: 30%;
}
section {
    padding: 16PX 0;
}

section h2,
.articles article{
    padding-bottom: 16px;
}
.articles article h3{
    padding-top: 8px;
    padding-bottom: 8px;
}

.articles article a{
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px ;
}

section h2{
    font-size: 32px;
}

#esporte{
    background-color: rgba(0, 255, 0, 0.1);
}

#esporte .articles article a{
    background-color: rgba(0, 255, 0, 0.8);
}

#economia{
    background-color: #f8f59f;
}

#economia .articles article a{
    background-color: #ff9f1a;
}

#Entretenimento{
    background-color: rgba(7%,4%, 56%,0.1);
}

#Entretenimento .articles article a{
    background-color: #40e0d0;
}

#tecnologia{
    background-color: rgba(255, 0, 0, 0.1)
}

#tecnologia .articles article a{
    background-color: #ffb6c1;
}